<div id="wrapper">

<% @recipe.each_slice(3) do |recipes| %>
	
<div class="row row-centered">
	
	<% recipes.each do |recipe| %>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<div id="recipeImage" class="img-responsive">
			<%= image_tag recipe.image.url(:medium) , :class => "img-responsive img-center center-block" %>
		</div>
		
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered">
		<h2><%= link_to recipe.title , recipe %></h2>
	</div>

	<% end %>
	
</div>

<% end %>

</div>